@font-face {
  font-family: 'montserratblack';
  src: url('./assets/fonts/montserrat-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratlight';
  src: url('./assets/fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'montserratlight', sans-serif;
  margin: 0;
  padding: 0;
  background: #808080; /* Updated to a solid grey as requested */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator-container, #chatbot-container {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  max-width: 600px;
  width: 100%;
  margin: 15px;
}

.calculator-form, #chatbot-container {
  display: flex;
  flex-direction: column;
}

label, .slider-value, #chat-input, input[type="submit"], #send-btn {
  margin: 10px 0;
  color: #333;
}

.slider, select, input[type="submit"], #chat-input, #send-btn {
  -webkit-appearance: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background: #ddd;
  cursor: pointer;
}

.slider:hover, input[type="submit"]:hover, #send-btn:hover {
  opacity: 1;
  background-color: #ccc; /* Lighter grey on hover for better interaction feedback */
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50; /* Green thumb for sliders */
  cursor: pointer;
}

.chat-messages {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background: #f9f9f9;
  padding: 5px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .calculator-container, #chatbot-container {
      margin: 10px;
      padding: 15px;
      width: auto; /* Ensure it fills the screen but respects the margins */
  }
}
